body{
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 608px auto;
}
#title{
    grid-column-start: 2;
    grid-row-start: 1;
}
#gameWindow{
    width: 800px;
    height: 608px;
    background-color: aqua;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}
#inventoryBox{
    top: 10px;
    left: 10px;
    width: 180px;
    height: 80px;
    background-color: gray;
}
#dialogeBar{
    bottom: -15px;
}
#setNameDialog{
    position: relative;
    width: 800px;
    height: 64px;
    background-color: rgb(0, 0, 0);
}
#mainCharacter{
    width: 72px;
    height: 68px;
    left: 0px;
    top: -4px;
}
#playerSpeech{
    width: 300px;
    background-color: rgb(255, 255, 255);
    left: 72px;
    bottom: 45px;

}
#ncpSpeech{
    left: 429px;
    bottom: 45px;
    width: 300px;
    background-color: aliceblue;
}
#npcCharacter{
    width: 72px;
    height: 64px;
    bottom: 5px;
    right: 0px;
}
#key{
    width: 32px;
    height: 32px;
    left: 55px;
    top: 379px;
} 
#well{
    width: 13px;
    height: 17px;
    left: 745px;
    top: 370px;
}
#statue{
    width: 25px;
    height: 35px;
    top: 305px;
    left: 763px;
}
#bigHousDoor{
    width: 25px;
    height: 28px;
    left: 711px;
    top: 375px;
}
#testTree{
    height: 64px;
    width: 64px;
    background-color: green;
    top: 100px;
    left: 400px;
    transition: all 1s ease-in-out;
} 
#playerCharacter{
    top: 100px;
    left : 100px;
    height: 32px;
    width: 32px; 
    transition: all 1s ease-in-out;
}
#tileMap{

}



.background{
    position: absolute;
    z-index: 0;
}
.character{
    position: absolute;
    z-index: 100;
}
.foreground{
    position: absolute;
    z-index: 1000;
}